<p id="notice"><%= notice %></p>

<h1>Cargoocupados</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cargoocupados.each do |cargoocupado| %>
      <tr>
        <td><%= link_to 'Show', cargoocupado %></td>
        <td><%= link_to 'Edit', edit_cargoocupado_path(cargoocupado) %></td>
        <td><%= link_to 'Destroy', cargoocupado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cargoocupado', new_cargoocupado_path %>
