<p id="notice"><%= notice %></p>

<h1>Formacaoacads</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formacaoacads.each do |formacaoacad| %>
      <tr>
        <td><%= link_to 'Show', formacaoacad %></td>
        <td><%= link_to 'Edit', edit_formacaoacad_path(formacaoacad) %></td>
        <td><%= link_to 'Destroy', formacaoacad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formacaoacad', new_formacaoacad_path %>
