<p id="notice"><%= notice %></p>

<h1>Recrutamentos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recrutamentos.each do |recrutamento| %>
      <tr>
        <td><%= link_to 'Show', recrutamento %></td>
        <td><%= link_to 'Edit', edit_recrutamento_path(recrutamento) %></td>
        <td><%= link_to 'Destroy', recrutamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recrutamento', new_recrutamento_path %>
