<p id="notice"><%= notice %></p>

<h1>Cnhs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cnhs.each do |cnh| %>
      <tr>
        <td><%= link_to 'Show', cnh %></td>
        <td><%= link_to 'Edit', edit_cnh_path(cnh) %></td>
        <td><%= link_to 'Destroy', cnh, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cnh', new_cnh_path %>
